<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ScheduleDB" connectionString="Data Source=media.ruppin.ac.il;Initial Catalog=igroup47_test1;User ID=igroup47;
      Password=igroup47_02300" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
