/*Body*/
body {
    background-color: rgb(150, 150, 250);
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 15px;
}

/*Page*/
.wrapper {
    width: 80%;
    margin: auto;
}


/*Home Page*/
.content {
    width: 100%;
    background-color: #D1C4E9;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px 5px 5px 5px;
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 80%;
}


/*Menu*/
.navigation_first_item {
    border-left: 0px;
    border-radius: 5px 0 0 5px;
}

.menu {
    height: 45px;
    background-color:dimgray;
    width: 100%;
    margin: 0px 0px 10px;
    /*padding: 0px;*/
	padding-right: 5px;
	text-align: center;
    color: rgb(243, 243, 243);
    border-radius: 5px 5px 5px 5px;
}

.menu ul {
    
}

.menu ul li {
    float: right;
    position: relative;
    list-style: none;
    /*border-right: 1px solid rgb(150,150,150);*/
    border-left: 1px solid rgb(150,150,150);    
}

.menu ul li.navigation_first_item:hover {
    border-radius: 5px 0px 0px 5px;
}

.menu ul li a {
    font-family: "Verdana", Sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu ul li:hover {
    background-color:#673AB7;
    /*border-right: 1px solid rgb(200,200,200);*/
}

.clear {
    clear: both;
}


/*Footer*/
.footer {
    height: 10%;
    background-color: dimgray;
    color: rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
}

.footer h3 {
    font-size: 15px;
    padding: 10px;
    text-align: center;
}


/*Content*/
.innerContent {
    width: 100%;
    margin: auto;
	left: 0%;

}

.descriptionBox {
    width: 200px;
    height: 300px;
}

label {
    float:left;
}
input {
    margin-top: 10px;
	float: right;
    margin-left: 151px;
}

.AddCourseTable{
	right: 10%;
	position: relative;
}

.AddChoreTable{
	right: 10%;
	position: relative;
}

.button {
    background-color:  #663399; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid  #9370db;
}

.button1:hover {
        background-color: #663399;
        color: white;
    }

.Gridview {
    right: 10%; 
    bottom: 40%;
}

.addChorebtn {

    margin-top: 20px;
    right: 30%;
    bottom: 20%;
}

.addChoreWindow {
    margin-top: 20px;
    right: 10%;
    bottom: 10%;
}

