/*Body*/
body {
    background-color: rgb(237, 237, 237);
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
}


/*Page*/
.wrapper {
    width: 1000px;
    margin: auto;
}


/*Home Page*/
.content {
    width: 100%;
    background-color: rgb(254, 254, 254);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
    min-height: 400px;
}


/*Menu*/
.navigation_first_item {
    border-left: 0px;
    border-radius: 5px 0 0 5px;
}

.menu {
    background-color: rgb(10, 110, 178);
    width: 100%;
    margin: 0px 0px 10px;
    padding: 0px;
    height: 40px;
    color: rgb(243, 243, 243);
    border-radius: 5px 5px 5px 5px;
}

.menu ul {
    
}

.menu ul li {
    float: left;
    position: relative;
    left: +25%;
    list-style: none;
    border-right: 1px solid rgb(10, 85, 125);
    border-left: 1px solid rgb(67, 153, 200);
}

.menu ul li.navigation_first_item:hover {
    border-radius: 5px 0px 0px 5px;
}

.menu ul li a {
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu ul li:hover {
    background-color: rgb(14, 79, 114);
    border-right: 1px solid rgb(14, 89, 130);
}

.clear {
    clear: both;
}


/*Footer*/
.footer {
    height: 50px;
    background-color: rgb(10, 110, 178);
    color: rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
}

.footer h2 {
    padding: 15px;
    text-align: center;
}

/* Show or disable Admin page*/
.menu ul li.adminPageButton {
    display: none;
    font-size: 130px;
}


/*Content*/
.innerContent {
    width: 100%;
    margin: auto;
	left: 0%;

}

.descriptionBox {
    width: 200px;
    height: 300px;
}

label {
    float:left;
}
input {
    margin-top: 10px;

}

.AddCourseTable{
	left: 35%;
	position: relative;
}

.AddChoreTable{
	left: 35%;
	position: relative;
}


